h1, h2 {
  font-family: Roboto Mono;
}

h2.transition {
  font-size: 10rem !important;
  line-height: 11rem !important;
}

h2 {
  font-size: 5.8rem;
  line-height: 10.4rem;
}

h1 img.logo{
    max-height: 450px;
    margin-top: -50px;
}

.authors {
  margin-top: 80px;
  margin-bottom: 0px;
  font-size: 3.5rem;
  font-weight: 500;
  font-family: Roboto Mono;
}

.authors a{
  color: black;
}

p.text-intro.main{
    font-size: 4rem;
    line-height: 5rem;
    width: 55%;
    margin: auto;
}

.work {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

h2.transition {
  font-size: 7rem;
  font-weight: 500;
  display: inline;
}

.flexblock.features li span sup {
    font-size: 6rem;
}

.phones {
    max-height: 800px;
    max-width: 800px;
    margin: auto;
}

.privacy {
  width: 50%;
}

.scaling {
  max-height: 40%;
  width: 700px;
  margin-left: 100px;
}

.ens-ipfs img{
    width: 35%;
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
}

.safe{
  width: 80%;
  height: auto;
}

.display-code {
  font-size:40px;
  line-height: 60px !important;
  color:gray;
  line-height: 30px;
}

.img-space {
  margin-top: 30px;
}

.code-block {
  padding: 25px;
  border-radius:3px;
  background-color: white;
}

h2 {
  font-weight: bold;
}

.numbers {
  text-align: left;
  width: 46%;
}

.some-context{
  width: 490px;
}
.some-context h2{
  text-align: center;
}

.meme {
  width: 830px;
}

.bg-apple h2{
  font-weight: lighter;
  font-size: 5.8rem;
}

.ux-avatar{
  margin-top: 50px;
  border-radius: 150px;
  width: 150px !important;
  height: 150px;
  margin-right: 50px;
  margin-left: 50px;
}

.avatars {
  margin-bottom: 30px;
}

.avatars .content-right,
.avatars .content-left{
  text-align: center;
}

.avatars img{
  text-align: center;
}

.avatars h3{
  font-size: 2.8rem;
  text-align: center;
}

.reasons.know li h2{
  text-align: left;
  vertical-align: center;
}


.users {
  width: 150px;
}

.new-flow-player {
  max-height: 700px;
}

.wut {
  height: 800px;
}

.mom {
  margin-top: 50px;
  width: 100%;
}
.mom li {
  font-size: 4rem;
  line-height: 6rem;
  margin-bottom: 20px;
}

.research {
  margin-top: 30px;
}

.ens-ipfs-video {
  max-width: 400px;
  margin: auto;
  text-align: center;
  object-fit: contain !important;
}

.fullscreen > .embed.ens-ipfs {
  margin: auto;
  max-width: 400px;
}

.eip-712 .content-left {
  width: 60%;
}

.eip-712 .content-right {
  width: 40%;
}


.eip-1102 .content-left {
  width: 60%;
}

.eip-1102 .content-right {
  width: 40%;
}


.text-intro, [class*='content-'] p {
  font-size: 3.4rem;
  line-height: 5rem;
}

.circle-of-trust {
  margin-top: -50px !important;
}

.hardware {
  height: 100% !important;
}

.signedTypeData {
  height: 100% !important;
  width: 80% !important;
}

.eip747 {
  margin-left: 100px;
  width: 37% !important;
}

img.mustekala {
  width: 80%;
}

ul {
  font-size: 1.6em;
}

img.network {
  width: 60%;
  margin-left: 100px;
}

.reasons.know li h2{
  font-size: 1em;
}

.tinder {
  height: 900px;
}

.onboarding {
  width: 90%;
}

.onboarding-flow {
  width: 100%;
  height: auto !important;
}

video.ens-ipfs-video {
  height: 95% !important;
  margin-top: 10%;
}

.swag {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.swag img{
  height: 300px;
}

.swag h2{
  font-size: 1.4em;
  text-align: center;
  margin-left: 50px;
}

.fox-thanks {
  width: 100px;
  height: 100px;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

.harold .content-left {
  width: 60%;
}

.harold .content-right {
  width: 40%;
}