h1 img.logo{
    max-height: 500px;
}

p.text-intro.main{
    font-size: 3.8rem;
    line-height: 4rem;
    width: 55%;
    margin: auto;
}

.flexblock.features li span sup {
    font-size: 6rem;
}

.phones {
    max-height: 600px;
    max-width: 500px;
    margin: auto;
}

.privacy {
  width: 50%;
}

.scaling {
  max-height: 40%;
}

.ens-ipfs img{
    width: 35%;
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
}

.display-code {
  font-size:24px;
  color:gray;
  line-height: 30px;
}

.img-space {
  margin-top: 30px;
}

.code-block {
  padding: 25px;
  border-radius:3px;
  background-color: white;
}

h2 {
  font-weight: bold;
}

.numbers {
  text-align: left;
}

.some-context{
  width: 490px;
}
.some-context h2{
  text-align: center;
}

.meme {
  width: 600px;
}

.bg-apple h2{
  font-weight: lighter;
  font-size: 5.8rem;
}

.ux-avatar{
  margin-top: 50px;
  border-radius: 150px;
  width: 150px !important;
  height: 150px;
  margin-right: 50px;
  margin-left: 50px;
}

.avatars {
  margin-bottom: 30px;
}

.avatars .content-right,
.avatars .content-left{
  text-align: center;
}

.avatars img{
  text-align: center;
}

.avatars h3{
  font-size: 2.8rem;
  text-align: center;
}

.reasons.know li h2{
  text-align: left;
  vertical-align: center;
}

.tinder{

}

.users {
  width: 150px;
}